*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("img/fondo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    width: 550px;
    margin: 30px;
}

.menu{
    padding: 50px;
    margin-bottom: 50px;
    display: flex;           
    justify-content: center; 
}

.opciones{
    display: flex;           
    gap: 30px;               
    padding: 0;
    margin: 0;
    list-style: none;
}

.opciones li a{
    color: rgb(36, 30, 22);
    padding: 17px;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgb(82, 134, 202);
    font-size: 20px;
    font-weight: bold;
}

.opciones li a:hover{
    background: rgb(51, 98, 159);
}

.container{
    width: 1200px;
    background-color: #aed9f4;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
}

.titulo{
     text-align: center;
     padding: 30px 20px;
     color: #250f38;
     font-size: 21px;
}

p{
    font-size: 18px;
    line-height: 1.8;
}

.espacio{
    font-size: 7px;
    color: #aed9f4;
}

.parrafo{
    padding: 10px 60px;
}

.contenedores{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px;
    gap: 20px;
}

.container2 img{
    width: 100%;
    height: auto;
    display: block;
}

.container3 img{
    width: 1000px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #1f4b6b;
    color: white;
    border-radius: 5px;
}

footer h4{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}